@use '../../styles/variables' as *;

.text-button {
  padding: 60px 0 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    margin-bottom: 16px;
    font-family: $font-artegra;
    font-size: 48px;
    line-height: 68px;
    font-weight: 600;
    color: $primary-color;
    text-transform: uppercase;
  }

  &-text {
    margin-bottom: 24px;
    font-family: $font-eastman;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: $primary-color;
  }
}

@media screen and (max-width: 990px) {
  .text-button {
    padding: 124px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 38px;
      font-weight: 800;
      text-align: center;
    }

    &-text {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      text-align: center;
      color: rgba(37, 44, 63, 0.8);
    }

    & .button-primary-big {
      padding: 16px 16px;
    }
  }
}
