@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExThin.woff2')
    format('woff2');
  font-weight: 100;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExExtraLight.woff2')
    format('woff2');
  font-weight: 200;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExLight.woff2')
    format('woff2');
  font-weight: 300;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExRegular.woff2')
    format('woff2');
  font-weight: 400;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExMedium.woff2')
    format('woff2');
  font-weight: 500;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExSemiBold.woff2')
    format('woff2');
  font-weight: 600;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExBold.woff2')
    format('woff2');
  font-weight: 700;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Artegra Sans';
  src: url('../assets/fonts/ArtegraSans/ArtegraSansExExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  line-height: 1;
  ascent-override: 90%;
  descent-override: 10%;
  line-gap-override: 0%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eastman';
  src: url('../assets/fonts/Eastman/Eastman-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-Thin.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-ExtraLight.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-ExtraBold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fixel';
  src: url('../assets/fonts/Fixel/FixelDisplay-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Eastman', sans-serif;
}
