$white: #fff;
$blue: #b1d4e0;
$primary-color: #252c3f;
$gray: #85878d;
$pink-default: #f7b4d1;
$pink-active: #fa8dbc;

$font-artegra: "Artegra Sans", sans-serif, serif;
$font-eastman: "Eastman", sans-serif, serif;
$font-fixel: "Fixel", sans-serif, serif;
$font-inter: "Inter", sans-serif, serif;
