@use '../../styles/variables' as *;

.team {
  padding-top: var(--dpt);
  padding-bottom: var(--dpb);

  &-padding {
    padding-top: var(--dpt);
    padding-bottom: var(--dpb) !important;
  }

  &-component-warpper {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &-bottom {
    margin-top: 86px;
    display: flex;
    gap: 106px;
    width: 100%;

    &-first {
      width: 45%;

      &-title {
        font-family: $font-artegra;
        font-size: 48px;
        line-height: 56px;
        font-weight: 800;
        color: $primary-color;
        text-transform: uppercase;
      }

      &-text {
        font-family: $font-fixel;
        font-size: 48px;
        line-height: 100%;
        color: $primary-color;
        font-weight: 300;
      }
    }

    &-second {
      width: 35%;
      font-family: $font-eastman;
      font-size: 20px;
      line-height: 20px;
      color: $primary-color;
    }

    &-third {
      width: fit-content;
      align-items: flex-start;
    }
  }

  &-heading {
    text-transform: uppercase;
    font-family: $font-artegra;
    font-size: 64px;
    line-height: 68px;
    font-weight: 800;
    color: $primary-color;
  }

  &-subheading {
    font-family: $font-artegra;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    color: $primary-color;
  }

  &-members {
    &-member {
      &-wrapper {
        display: flex;
        position: relative;
        border-radius: 24px;
        height: 100%;

        & > img {
          aspect-ratio: 3/3.6;
          border-radius: 24px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &-overlay {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: #252c3f99;
          border-radius: 24px;
          opacity: 0;
          transition: 0.3s ease-in-out;

          &-heading {
            font-family: $font-artegra;
            font-size: 36px;
            line-height: 54px;
            font-weight: 600;
            color: $white;
          }

          &-text {
            font-family: $font-eastman;
            font-size: 20px;
            line-height: 20px;
            color: $white;
            text-align: center;
          }

          @media screen and (min-width: 990px) {
            &:hover {
              opacity: 1;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .team {
    padding-bottom: 84px;

    &-component-warpper {
      margin-bottom: 0;
    }

    &-padding {
      padding-top: 112px;
      padding-bottom: 84px !important;
    }

    & .page-width-left {
      margin: 0 !important;
      padding: 0 !important;
    }

    &-members {
      & .swiper-slide-active {
        .team-members-member-wrapper-overlay {
          opacity: 1;
          transition: 0.3s ease-in-out;
        }
      }
    }

    &-bottom {
      margin-top: 36px;
      flex-direction: column;
      gap: 24px;

      &-first {
        width: 100%;

        &-title {
          font-size: 28px;
          line-height: 100%;
          margin-bottom: 16px;
        }

        &-text {
          font-size: 24px;
          line-height: 100%;
        }
      }

      &-second {
        width: 100%;
        font-size: 18px;
        line-height: 100%;
      }
    }

    &-heading {
      font-size: 32px;
      line-height: 48px;
    }

    &-subheading {
      margin-bottom: 24px;
      font-size: 22px;
      line-height: 32px;
    }
  }
}
