@use '../../styles/variables' as *;

.breakline {
  padding-top: var(--dpt);
  padding-bottom: var(--dpb);

  &-backrgound {
    background-image: url('../../assets/breakline_background.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &-title {
    font-family: $font-artegra;
    padding: 158px 0 124px;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }

  &-wrapper {
    padding-top: 128px;
    padding-bottom: 92px;

    &-title {
      font-family: $font-artegra;
      font-size: 64px;
      line-height: 98px;
      text-transform: uppercase;
    }

    &-text {
      font-family: $font-eastman;
      font-size: 20px;
      line-height: 33px;
      color: $primary-color;
    }
  }
}

@media screen and (max-width: 990px) {
  .breakline {
    padding: 0 0 124px 0;

    &-background-wrapper {
      padding-top: 84px;
      padding-bottom: 0;
    }

    &-backrgound {
      background-size: cover;
    }

    &-title {
      padding: 48px 0 37px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      text-align: center;
    }

    &-wrapper {
      padding-top: 128px;
      padding-bottom: 128px;

      &-title {
        font-family: $font-artegra;
        font-size: 28px;
        line-height: 36px;
        text-transform: uppercase;
      }

      &-text {
        font-family: $font-eastman;
        font-size: 16px;
        line-height: 20px;
        color: $primary-color;
      }
    }
  }
}
