@use '../../styles/variables' as *;

.testimonials-section {
  padding-top: var(--dpt);
  padding-bottom: var(--dpb);

  @media (max-width: 768px) {
    padding-top: var(--mpt);
    padding-bottom: var(--mpb);
  }

  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 60px 80px 60px 60px;
    background: radial-gradient(
        73.92% 251.95% at 26.91% 46.73%,
        #f7b4d1 0%,
        #e3cee1 23.19%,
        #dbd0f7 44.5%,
        #b1d4e0 97%
      ),
      linear-gradient(
        180deg,
        rgba(255, 154, 66, 0) 0%,
        rgba(177, 212, 224, 0.2) 55.02%,
        rgba(255, 154, 66, 0.2) 100%
      );
    box-shadow: 0px 4px 6px -2px #10182808;
    box-shadow: 0px 12px 16px -4px #10182814;
    backdrop-filter: blur(4px);
    border-radius: 60px;

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-heading {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 100%;
        font-weight: 800;
      }

      &-buttons {
        display: flex;
        align-items: center;
        gap: 24px;

        &-button {
          cursor: pointer;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary-color;
          border: 1px solid $primary-color;
          border-radius: 50%;
          transition: 0.3s ease-in-out;

          &:disabled {
            transition: 0.3s ease-in-out;
            cursor: auto;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid $primary-color;

            & img {
              color: $primary-color;

              &.disabled {
                display: flex;
              }

              &.active {
                display: none;
              }
            }
          }

          & img {
            &.disabled {
              display: none;
            }

            &.active {
              display: flex;
            }
          }
        }

        &-prev {
          transform: rotate(180deg);

          &:disabled {
            & img {
              transform: rotate(180deg);
            }
          }
        }

        &-next:disabled {
          & img {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-testimonials {
      width: 100%;
    }
  }
}

@media screen and (max-width: 990px) {
  .testimonials-section {
    padding-bottom: 32px;

    &.page-width {
      padding: 0;
      margin: 0;
    }

    &-wrapper {
      gap: 12px;
      padding: 0;
      background: none;
      box-shadow: none;
      box-shadow: none;
      backdrop-filter: none;
      border-radius: 0;

      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-heading {
          margin-bottom: 16px;
          box-sizing: content-box;
          width: 100%;
          padding: 0 28px;
          font-size: 18px;
          line-height: 28px;
        }

        &-buttons {
          display: none;
        }
      }

      &-testimonials {
        width: 100%;
        padding-bottom: 32px;
      }
    }
  }
}
