@use "../../styles/variables" as *;

.svq-header {
  grid-template-columns: auto 1fr auto !important;
}

.svq-progress-label {
  font-family: $font-fixel;
  font-size: 14px;
  color: $gray;
  white-space: nowrap;
}

@media (max-width: 990px) {
  .svq-header {
    grid-template-columns: 1fr auto !important;
  }

  .svq-progress-label {
    font-size: 12px;
  }
}
